@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/@ibm/plex@4.0.2/css/ibm-plex.min.css?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* ****************************
************** Root ***********
*******************************/
:root {
  --ls-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ls-tag-text-opacity: 0.6;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 1em;
  --ls-page-title-size: 36px;
}

/* *****************************
********* Dark Theme ***********
*******************************/
.dark-theme,
html[data-theme=dark] {
  --ls-primary-background-color: rgb(47, 52, 55);
  --ls-secondary-background-color: rgb(55, 60, 63);
  --ls-tertiary-background-color: rgb(67, 72, 75);
  --ls-quaternary-background-color: rgb(71, 79, 82);
  --ls-table-tr-even-background-color: #0404061c;
  --ls-callout-background-color: rgba(69, 75, 78, 0.3);
  --ls-codeblock-background-color: #3f4447;
  --ls-block-properties-background-color: #2a2d2d91;
  --ls-block-ref-link-text-color: #73d2f6;
  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #3f3f3f;
  --ls-guideline-color: var(--ls-tertiary-background-color);
  --ls-menu-hover-color: var(--ls-secondary-background-color);
  --ls-primary-text-color: rgb(255 255 255 / 90%);
  --ls-secondary-text-color: #dfdfdf;
  --ls-title-text-color: var(--ls-primary-text-color);
  --ls-link-ref-text-color: #6fc2ef;
  --ls-link-ref-text-hover-color: #8cd2f8;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --ls-alink-color: var(--ls-link-text-color);
  --bf-external-link-color: #f67373;
  --bf-external-link-hover-color: #f29191;
  --ls-cloze-text-color: var(--ls-link-ref-text-color);
  --ls-active-primary-color: var(--ls-link-ref-text-color);
  --ls-active-secondary-color: #6fc2efcc;
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --ls-tag-background-color: #407fab;
  --ls-tag-background-hover-color: #6fabd5;
  --ls-slide-background-color: var(--ls-primary-background-color);
  --ls-block-bullet-border-color: #ffffff14;
  --ls-block-bullet-color: #ffffff1c;
  --ls-block-highlight-color: #fbfbfb23;
  --ls-selection-background-color: #64b4ff81;
  --ls-page-checkbox-color: #935c62;
  --ls-page-checkbox-border-color: var(--ls-primary-background-color);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-inline-code-color: #eb5757;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-properties-background-color: #adadad1c;
  --ls-scrollbar-foreground-color: var(--ls-block-bullet-color);
  --ls-scrollbar-background-color: #fff0;
  --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
  --ls-head-text-color: #ffe27c;
  --ls-icon-color: rgb(154 161 165);
  --ls-search-icon-color: var(--ls-quaternary-background-color);
  --ls-a-chosen-bg: var(--ls-secondary-background-color);
  --ls-right-sidebar-code-bg-color: #3c041f;
  --color-level-1: var(--ls-secondary-background-color);
  --color-level-2: var(--ls-tertiary-background-color);
  --color-level-3: var(--ls-quaternary-background-color);
  --color-level-4: #632f46;
  --color-level-5: #865673;
  --color-level-6: #9e6889;
  --ls-block-bullet-threading-width: 2px;
  --ls-block-bullet-active-color: #4a99b9;
}

/* *****************************
********* White Theme ***********
*******************************/
.white-theme,
html[data-theme=light] {
  --ls-primary-background-color: #fff;
  --ls-search-background-color: #fff;
  --ls-secondary-background-color: #f8f8f8;
  --ls-tertiary-background-color: #f2f2f3;
  --ls-quaternary-background-color: #ebeaea;
  --ls-codeblock-background-color: #f7f6f3;
  --ls-table-tr-even-background-color: #f4f4f4;
  --ls-callout-background-color: rgba(235, 236, 237, 0.3);
  --ls-active-primary-color: rgb(64, 150, 213);
  --ls-active-secondary-color: rgb(46, 118, 170);
  --ls-block-properties-background-color: #f5f5f5;
  --ls-block-bullet-border-color: #dedede85;
  --ls-block-bullet-color: #00000018;
  --ls-guideline-color: rgba(62, 62, 63, 0.08);
  --ls-primary-text-color: #2b2926;
  --ls-title-text-color: #303537;
  --ls-link-ref-text-color: #3d88ce;
  --ls-link-ref-text-hover-color: #1a6cbf;
  --ls-link-text-color: var(--ls-link-ref-text-color);
  --ls-link-text-hover-color: var(--ls-link-ref-text-hover-color);
  --bf-external-link-color: rgb(234, 110, 110);
  --bf-external-link-hover-color: #e6515e;
  --ls-alink-color: var(--ls-link-text-color);
  --ls-tag-text-color: white;
  --ls-tag-text-hover-color: white;
  --ls-tag-background-color: #2883df;
  --ls-tag-background-hover-color: #84bdf4;
  --ls-icon-color: #ada9a2;
  --ls-page-inline-code-bg-color: rgba(135, 131, 120, 0.15);
  --ls-page-blockquote-border-color: var(--ls-primary-text-color);
  --ls-page-checkbox-color: #8ebce6;
  --ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
  --ls-page-properties-background-color: #adadad1c;
  --ls-scrollbar-foreground-color:#00000021;
  --ls-scrollbar-background-color: #fff0;
  --color-level-1: rgba(236, 236, 236, 0.3);
  --color-level-2: #f3f3f3;
  --color-level-3: #eaeaea;
  --color-level-4: #ddd;
  --ls-block-bullet-threading-width: 2px;
  --ls-block-bullet-active-color: #6ea7eead;
}

/*****************************************
  This section is for global layout
  DO NOTHING TO COLOR DESIGN
*****************************************/
.cp__sidebar-main-content {
  width: 100%;
}

#main-content-container .file {
  margin: 0 auto;
}

/*****************************************
  Common Theme
*****************************************/
.cp__header a {
  color: var(--ls-primary-text-color);
}
.cp__header a:hover {
  cursor: pointer;
  transition: 0.3s;
}
.cp__header a svg {
  color: var(--ls-primary-text-color);
}
.cp__header .p-2 {
  padding: 0.25rem;
  margin: 0 0.25rem;
  border-radius: 3px;
}
.cp__header a[title="Go Back"] {
  padding: 0.15rem 0.15rem;
  margin: 0.35rem 0 0.35rem 0.35rem;
}
.cp__header a[title="Go Forward"] {
  padding: 0.15rem 0.15rem;
  margin: 0.35rem 0.35rem 0.35rem 0;
}
.cp__header #search.p-2 {
  padding: 0.5rem;
}
.cp__header .cp__header-logo,
.cp__header .cp__right-menu-button {
  padding: 0.15rem;
  margin: 0 0.35rem;
  border-radius: 3px;
}
.cp__header #search #search-wrapper {
  opacity: 0;
  transition: 0.3s;
}
.cp__header #search #search-wrapper:hover,
.cp__header #search #search-wrapper:focus-within {
  opacity: 1;
}
.cp__header #search #search-wrapper > div:first-child {
  left: 10px;
}
.cp__header #search #search > .inner {
  max-width: 100%;
  border-radius: 4px;
}
.cp__header #search #search_field:focus {
  background: var(--ls-search-background-color);
}
.cp__header #search #ui__ac-inner {
  margin-top: -10px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.cp__header .cp__sidebar-left-menu {
  margin-right: unset;
}

.cp__right-sidebar {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.37, 0.16, 0.16, 0.99);
}
.cp__right-sidebar .cp__right-sidebar-topbar {
  padding: 0;
  padding-right: 5px;
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings {
  margin-left: 10px;
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .ml-4 {
  margin: 0.15rem 0;
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn {
  padding: 2px 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: var(--ls-primary-text-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar .cp__right-sidebar-settings .cp__right-sidebar-settings-btn:hover {
  background-color: var(--ls-quaternary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.button:hover {
  background: var(--ls-tertiary-background-color);
}
.cp__right-sidebar .cp__right-sidebar-topbar a.toggle:hover {
  color: var(--ls-primary-text-color);
}
.cp__right-sidebar .sidebar-item-list .sidebar-item {
  margin: 2px 5px;
  --tw-shadow: unset;
  padding: 10px 8px 10px 4px;
  border: none;
}
.cp__right-sidebar .sidebar-item-list .sidebar-item .flex.flex-row.justify-between {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.cp__right-sidebar .sidebar-item-list .sidebar-item .content {
  font-size: 0.95rem;
}
.cp__right-sidebar .sidebar-item-list .recent-pages {
  margin-left: 26px;
}

.cp__all_pages .actions a {
  color: var(--ls-primary-text-color);
}
.cp__all_pages table th {
  border-bottom: 1px solid var(--ls-border-color);
}
.cp__all_pages table th a {
  color: var(--ls-primary-text-color);
}

#left-bar #repo-name {
  max-width: 16ch;
  opacity: 1;
}
#left-bar a.nav-item:hover {
  background-color: var(--ls-table-tr-even-background-color);
}

#main-content-container {
  padding: 1rem 2.5rem !important;
}
#main-content-container .journal h1.title:before,
#main-content-container .is-journals h1.title:before {
  content: "🗓";
  vertical-align: text-bottom;
  margin-right: 0.3em;
  font-size: 0.75em;
}
#main-content-container .cp__sidebar-main-content h1.title {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 1rem;
  margin-left: 0px !important;
}

#journals > div > a {
  opacity: 0.3;
}

html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html ::-webkit-scrollbar-thumb {
  background: var(--ls-block-bullet-color);
  background-clip: padding-box;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  cursor: pointer;
}

html ::-webkit-scrollbar-thumb:hover {
  background: var(--ls-scrollbar-foreground-color);
  border-radius: 4px;
  border: 4px solid transparent;
}

/******************************************
 **************  Content  *****************
 ******************************************/
.content hr {
  margin: 0.1rem 0;
}
.content div[haschild=true] > div.flex-row {
  margin-bottom: 0.3rem;
}
.content .block-children {
  margin-bottom: 0.3rem;
}
.content .block-children-left-border {
  border-radius: unset;
  transition: background-color 0.3s;
  padding: 0 1px;
}
.content .block-properties {
  margin: 8px 0;
  padding: 10px 20px;
}
.content blockquote {
  background-color: unset;
}
.content .admonitionblock {
  padding: 16px 16px 16px 12px;
  background-color: var(--ls-callout-background-color);
  margin: unset;
}
.content .admonitionblock .text-lg {
  font-size: 0.9em;
  margin-left: 0;
  line-height: 1.35rem;
}
.content .admonitionblock .admonition-icon {
  padding-right: 0.65em;
  border: unset;
}
.content .admonitionblock .admonition-icon svg.svg-shadow {
  -webkit-filter: unset;
  filter: unset;
}
.content .admonitionblock .admonition-icon svg.h-8.w-8 {
  width: 1.7em;
  height: 1.7em;
}
.content .admonitionblock .admonition-icon svg.important {
  color: #e54040;
}
.content .admonitionblock .admonition-icon svg.caution {
  color: #ff8d55;
}
.content .admonitionblock .admonition-icon svg.tip {
  color: #ffac54;
}
.content .admonitionblock .admonition-icon svg.note {
  color: var(--ls-secondary-text-color);
}
.content ul,
.content ol {
  margin-top: 5px;
  margin-bottom: 5px;
}
.content ul > li > p:first-child,
.content ol > li > p:first-child {
  display: inline;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.content .editor-inner textarea {
  margin: 0 0 !important;
}
.content .editor-inner textarea.h2, .content .editor-inner textarea.h1 {
  border-bottom: unset;
}
.content a.tag {
  padding: 0px 7px;
  border-radius: 10px;
  margin: 2px 0px;
  color: var(--ls-tag-text-color);
  background-color: var(--ls-tag-background-color);
}
.content a.tag:hover {
  background-color: var(--ls-tag-background-hover-color);
}
.content a.external-link {
  color: var(--bf-external-link-color);
}
.content a.external-link:hover {
  color: var(--bf-external-link-hover-color);
}
.content .block-ref {
  border-radius: 3px;
  font-style: italic;
  color: var(--ls-primary-text-color);
}
.content .form-checkbox {
  border-radius: 50%;
  z-index: 1;
  transform: scale(1.1);
  position: relative;
  margin-top: unset !important;
}
.content .marker-switch {
  opacity: 0.7;
  font-weight: 700;
  transition: 0.3s;
  margin-left: -1.5em;
  margin-right: 5px;
  padding: 0 8px 0 1.5em;
  border-radius: 12px;
}
.content :not(pre) > code {
  border-radius: 3px;
  font-size: 85%;
  font-family: MonoLisa, "Fira Code", Monaco, Menlo, Consolas, "COURIER NEW", monospace;
  padding: 0.2em 0.4em !important;
  color: #eb5757;
}
.content .custom-query {
  margin-top: 0.5rem;
}
.content .custom-query .custom-query-title .query-title {
  border-radius: 20px;
  font-size: 0.85em;
}
.content .custom-query .overflow-x-auto {
  cursor: default;
}
.content .custom-query .overflow-x-auto table th {
  font-weight: bold;
  text-transform: capitalize;
  padding-left: 1em;
  border-bottom: solid 1px var(--ls-border-color);
}
.content .custom-query .overflow-x-auto table th a span {
  color: var(--ls-primary-text-color);
}
.content .custom-query .overflow-x-auto table tr td {
  font-size: 0.95em;
  padding: 0.5em 0.3em 0.5em 0.9em;
}
.content .block-content.inline .inline .embed-header div.mr-3 {
  margin-right: 0.25rem;
}
.content .page-reference:hover {
  background-color: var(--ls-tertiary-background-color);
}
.content div[data-refs-self*='"card"'] {
  box-shadow: unset;
}
.content div[data-refs-self*='"card"'] .block-children-container {
  background: var(--ls-block-properties-background-color);
  padding: 1em 0;
}
.content div[data-refs-self*='"card"'] .block-children-left-border {
  background-color: unset;
}
.content div[data-refs-self*='"card"'] .block-children {
  margin-bottom: 5px;
}

.document-mode .ls-block {
  margin-bottom: 0.35rem;
}
.document-mode .ls-block h1 {
  margin: 0.1em 0;
}
.document-mode .ls-block h2 {
  margin: 0.15em 0;
}
.document-mode .ls-block h3 {
  margin: 0.35em 0;
}
.document-mode .ls-block h4 {
  margin: 0.5em 0;
}
.document-mode .ls-block h5 {
  margin: 0.55em 0;
}
.document-mode .ls-block h6 {
  margin: 0.65em 0;
}

svg.add-button > .circle {
  transition: 0.2s;
  fill: var(--ls-block-bullet-color);
}

.tippy-popper,
.tippy-popper .html-template,
.tippy-wrapper {
  max-height: 45vh !important;
  max-width: min(90vw, 600px) !important;
  perspective: min(90vw, 600px) !important;
  -webkit-perspective: min(90vw, 600px) !important;
}

#ui__ac #ui__ac-inner code {
  color: var(--ls-primary-text-color);
}
#ui__ac a:hover {
  color: var(--ls-link-ref-text-color);
}

@media screen and (max-width: 640px) {
  #head {
    position: fixed;
    background-color: var(--ls-primary-background-color);
  }

  #main-container #main-content-container {
    padding: 48px 32px 32px 20px !important;
  }

  .cp__settings-inner > aside {
    border-right: unset;
  }
  .cp__settings-inner > aside ul {
    border-bottom: 1px solid var(--ls-quaternary-background-color);
  }
}
/*****************************************
  White Theme
*****************************************/
.white-theme .cp__header {
  color: var(--ls-primary-text-color);
}
.white-theme .cp__header a:hover {
  background-color: #f1f1f1;
}
.white-theme #left-bar nav > a,
.white-theme #left-bar svg {
  color: var(--ls-priamary-text-color);
}
.white-theme #left-bar #repo-name {
  opacity: 1;
  height: 22px;
  transform: translateY(-1px);
}
.white-theme .content .external-link {
  border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
}
.white-theme .content .block-ref {
  background: rgba(40, 142, 111, 0.1);
  border-bottom-color: rgba(40, 142, 111, 0.3);
}
.white-theme .content .marker-switch {
  color: #504d47;
  background: #f3f2ed;
  opacity: 1;
}
.white-theme .content .marker-switch:hover {
  opacity: 0.7;
}
.white-theme .cp__right-sidebar .sidebar-item-list {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
}
.white-theme .cp__right-sidebar .sidebar-item-list .sidebar-item {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
  border-bottom: 2px solid #e6e6e6;
}

/*****************************************
  Dark Theme
*****************************************/
.dark-theme ::selection {
  background: var(--ls-block-highlight-color);
}
.dark-theme #app-single-container ::selection {
  background: var(--ls-selection-background-color);
}
.dark-theme #left-bar .close-panel-btn {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .cp__header a:hover {
  background-color: #3e4144;
}
.dark-theme .cp__header .cp__header-left-menu {
  color: var(--ls-primary-text-color);
  opacity: 0.6;
}
.dark-theme .left-sidebar-inner a {
  color: var(--ls-primary-text-color);
}
.dark-theme .left-sidebar-inner a :hover {
  color: #fff;
}
.dark-theme .cp__right-sidebar .sidebar-item-list {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
}
.dark-theme .cp__right-sidebar .sidebar-item-list .sidebar-item {
  background-color: var(--ls-secondary-background-color, #d8e1e8);
  border-bottom: 2px solid #484d52;
}
.dark-theme .content a.tag {
  opacity: 0.83;
}
.dark-theme .content a.tag:hover {
  opacity: 1;
}
.dark-theme .content b,
.dark-theme .content strong {
  font-weight: bolder;
  color: #fff;
}
.dark-theme .content mark {
  background: #59563b;
  color: var(--ls-primary-text-color);
}
.dark-theme .content .external-link {
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.4);
}
.dark-theme .content .block-ref {
  background: #1f535878;
  border-bottom-color: #53d2d280;
}
.dark-theme .content .marker-switch {
  color: #b5a7a7;
  background: #52373a;
}
.dark-theme .content .marker-switch:hover {
  background: #5d3e41;
}
.dark-theme .content svg.add-button > .circle {
  fill: var(--ls-block-bullet-color, #394b59);
}

/*****************************************
  Code Mirror
*****************************************/
.cm-s-solarized,
.cm-s-solarized.cm-s-light,
.cm-s-solarized.cm-s-dark {
  background-color: var(--ls-codeblock-background-color);
  text-shadow: unset;
}
.cm-s-solarized.CodeMirror,
.cm-s-solarized.cm-s-light.CodeMirror,
.cm-s-solarized.cm-s-dark.CodeMirror {
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
.cm-s-solarized .CodeMirror-gutters,
.cm-s-solarized.cm-s-light .CodeMirror-gutters,
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: var(--ls-codeblock-background-color);
}
.cm-s-solarized .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light .CodeMirror-linenumber,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
  text-shadow: unset;
}

/* theme general */
.extensions__code {
  display: block;
  background-color: var(--ls-codeblock-background-color);
}
.extensions__code > div {
  margin-top: 0.3rem;
}
.extensions__code .extensions__code-lang {
  margin-right: 5px;
  padding: unset;
}
.extensions__code textarea {
  color: var(--ls-primary-text-color);
}
.extensions__code .CodeMirror {
  color: var(--ls-secondary-text-color);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 25px 10px 24px 20px;
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-cursors .CodeMirror-cursor {
  border-left: solid thin #82aaff;
}
.extensions__code .CodeMirror .CodeMirror-scroll .CodeMirror-sizer .CodeMirror-lines .CodeMirror-code {
  outline: 0;
  font-size: 0.85em;
}

.extensions__code-calc {
  padding-top: 25px;
  margin-top: 10px;
  right: 20px;
}

.white-theme .cp__right-sidebar .CodeMirror,
.white-theme .cp__right-sidebar .CodeMirror-gutters,
.white-theme .cp__right-sidebar .extensions__code-lang {
  background-color: rgba(242, 241, 238, 0.95);
}

/* Rewrite .cm-s-solarized */
.cm-s-solarized .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
  background-color: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #5bdfdf !important;
}
.cm-s-solarized span.cm-comment {
  color: #a0a0a0;
}
.cm-s-solarized span.cm-string,
.cm-s-solarized span.cm-string-2 {
  color: #e6c963;
}
.cm-s-solarized span.cm-number {
  color: #978ade;
}
.cm-s-solarized span.cm-variable {
  color: #82aaff;
}
.cm-s-solarized span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}
.cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.cm-s-solarized span.cm-operator {
  color: #f15f60;
}
.cm-s-solarized span.cm-keyword {
  color: #f15f60;
}
.cm-s-solarized span.cm-atom {
  color: #978ade;
}
.cm-s-solarized span.cm-meta {
  color: white;
}
.cm-s-solarized span.cm-tag {
  color: #f07178;
}
.cm-s-solarized span.cm-attribute {
  color: #c792ea;
}
.cm-s-solarized span.cm-qualifier {
  color: #41b394;
}
.cm-s-solarized span.cm-property {
  color: #9bd174;
}
.cm-s-solarized span.cm-builtin {
  color: #45add6;
}
.cm-s-solarized span.cm-variable-3,
.cm-s-solarized span.cm-type {
  color: orange;
}

.white-theme .cm-s-solarized .CodeMirror-selected {
  background-color: rgba(168, 175, 255, 0.2);
}
.white-theme .cm-s-solarized span.cm-string,
.white-theme .cm-s-solarized span.cm-string-2 {
  color: orange;
}
.white-theme .cm-s-solarized span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}
.white-theme .cm-s-solarized span.cm-def {
  color: var(--ls-secondary-text-color);
}
.white-theme .cm-s-solarized span.cm-meta {
  color: var(--ls-secondary-text-color);
}

/* Old Version */
.white-theme .cm-s-default.CodeMirror,
.white-theme .cm-s-default .CodeMirror-gutters {
  color: black !important;
  border: none;
}

.cm-s-default .CodeMirror-cursor {
  border-left: solid thin white;
}

.white-theme .cm-s-default .CodeMirror-cursor {
  border-left: solid thin black;
}

.cm-s-default .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.1);
}

.white-theme .cm-s-default .CodeMirror-selected {
  background: rgba(0, 0, 0, 0.1);
}

.cm-s-default .CodeMirror-line {
  box-shadow: none;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line > span::selection,
.cm-s-default .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line > span::-moz-selection,
.cm-s-default .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default span.cm-comment {
  color: #a0a0a0;
}

.cm-s-default span.cm-string,
.cm-s-default span.cm-string-2 {
  color: #e6c963;
}

.white-theme .cm-s-default span.cm-string,
.white-theme .cm-s-default span.cm-string-2 {
  color: orange;
}

.cm-s-default span.cm-number {
  color: #978ade;
}

.cm-s-default span.cm-variable {
  color: #82aaff;
}

.cm-s-default span.cm-variable-2 {
  color: rgba(255, 255, 255, 0.7);
}

.white-theme .cm-s-default span.cm-variable-2 {
  color: rgba(0, 0, 0, 0.7);
}

.cm-s-default span.cm-def {
  color: #fff;
}

.white-theme .cm-s-default span.cm-def {
  color: black;
}

.cm-s-default span.cm-operator {
  color: #f15f60;
}

.cm-s-default span.cm-keyword {
  color: #f15f60;
}

.cm-s-default span.cm-atom {
  color: #978ade;
}

.cm-s-default span.cm-meta {
  color: white;
}

.white-theme .cm-s-default span.cm-meta {
  color: black;
}

.cm-s-default span.cm-tag {
  color: #f07178;
}

.cm-s-default span.cm-attribute {
  color: #c792ea;
}

.cm-s-default span.cm-qualifier {
  color: #41b394;
}

.cm-s-default span.cm-property {
  color: #9bd174;
}

.cm-s-default span.cm-builtin {
  color: #45add6;
}

.cm-s-default span.cm-variable-3,
.cm-s-default span.cm-type {
  color: orange;
}

.cm-s-default .CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.1);
}

.cm-s-default .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #5bdfdf !important;
}

#right-sidebar pre.CodeMirror-line {
  background: transparent;
}

:root {
  --ls-font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Custom Tag Colors */
/* Color names https://www.w3schools.com/cssref/css_colors.asp */
a.tag[data-ref="visit"] { background-color: green !important; }
a.tag[data-ref="call"] { background-color: green !important; }
a.tag[data-ref="social"] { background-color: green !important; }

a.tag[data-ref="idea"] { background-color: purple !important; }
a.tag[data-ref="gem"] { background-color: purple !important; }

a.tag[data-ref="meeting"] { background-color: red !important; }
a.tag[data-ref="highlight"] { background-color: gold !important; color: black !important;}
a.tag[data-ref="review"] { background-color: gold !important; color: black !important; }

a.tag[data-ref="published"] { background-color: green !important; }

a.tag[data-ref="research"], a.tag[data-ref="refine"], a.tag[data-ref="try"], a.tag[data-ref="read"], a.tag[data-ref="watch"], a.tag[data-ref="listen"] { background-color: darkorchid !important; }
a.tag[data-ref="whiteboard"] { background-color: white !important; color: black !important }
